<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Food shop</title>
  </head>
  <body>
    <header><h1>Food shop</h1></header>
    <main class="container">
      <section>
        <article>
          <h2>Drinks</h2>
        </article>
        <article>
          <h2>Vegetable</h2>
        </article>
        <article>
          <h2>Fruit</h2>
        </article>
      </section>
      <aside><a href="/orders ">Order list</a></aside>
    </main>
    <footer><h4>contact:</h4></footer>
  </body>
</html>
