<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='list1.css') }}">
    
    <title>{{title}}</title>
  </head>
  <body>
    <h1>order 1</h1>

    <p>
      Order Number: {{list_item.order_number}} <br />
      Customer Name: {{list_item.customer_name}} <br />
      Order Date: {{list_item.order_date}} <br />
      Order Quality: {{list_item.quality}} <br />
    </p>
  </body>
</html>
