<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <h1>order 2</h1>

    <p>
      Order Number: {{orders[1].order_number}} <br />
      Customer Name: {{orders[1].customer_name}} <br />
      Order Date: {{orders[1].order_date}} <br />
      Order Quality: {{orders[1].quality}} <br />
    </p>
  </body>
</html>
