<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='order.css') }}">
    <title>{{title}}</title>
  </head>
  <body>
    <h6><a href="/">Home</a></h6>
    <h1>Order List!</h1>
    {% for order in orders %}
    <div>
      <p>
        <!-- Order Number:  {{order.order_number}} <br> -->
        Order name: {{ order.customer_name }}: <br />
        Order Date: {{order.order_date}} <br />
        Food: {{ order.food_description }} <br />
        Quality: {{order.quality}}
      </p>
    </div>
    {% endfor %} 
    
    {% for order in orders %}
    <div>
      <p>
        order details:
        <a href="./orders/list{{order.order_number}}"
          >order {{order.order_number}}</a
        >
      </p>
    </div>

    {% endfor %}
  </body>
</html>
